.logo {
  width: 50px;
  height: 50px;
}

.header {
  text-align: center;
  margin-top: 100px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.ui {
  border: 1px solid white;
  width: 100%;
  max-width: 600px;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 0.3em;
  display: block;
}

.ui h1 {
  color: white;
  margin: 10px 0 10px 0;
  font-size: larger;
}

.ui .url {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.ui .url select {
  background-color: transparent;
  color: white;
  padding: 5px;
  border: 1px solid white;
  border-radius: 0.3em;
  outline: none;
  margin-right: 10px;
  width: max-content;
}

.ui .url option {
  color: black;
}

.ui .url input {
  padding: 5px;
  outline: none;
  border-radius: 0.3em;
  font-family: monospace;
  width: 500px;
  background-color: transparent;
  color: white;
  border: 1px solid white
}

.ui .execute-button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0.3em;
  color: white;
  display: block;
  margin-left: auto;
  margin-top: 20px;
}

.ui .execute-button:hover {
  background-color: rgb(73, 73, 73);
}

.ui .execute-button:active {
  background-color: black;
}

.ui .headers-input {
  background-color: black;
  color: white;
  box-sizing: border-box;
  width: 100%;
  resize: vertical;
  border: none;
  border-radius: 0.3em;
  padding: 10px;
  font-family: monospace;
  min-height: 100px;
}

.ui .json-validate {
  display: block;
  margin-bottom: 10px;
}

.ui .xml-validate {
  display: block;
  margin-bottom: 10px;
}

.ui .message {
  color: rgb(94, 94, 94);
}

.ui .request-body {
  border: 1px solid white;
  border-radius: 0.3em;
  overflow: hidden;
}

.ui .format-options {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.ui .format-options li {
  margin: 5px;
  padding: 10px;
  width: 100%;
  text-align: center;
  color: white;
  background-color: rgb(94, 94, 94);
  cursor: pointer;
  border-radius: 0.3em;
  border: 1px solid transparent;
}

.ui .format-options li:hover {
  background-color: rgb(71, 71, 71);
}

.ui .json-body-entry-container {
  padding-left: 5px;
  padding-right: 5px;
}

.ui .xml-body-entry-container {
  padding-left: 5px;
  padding-right: 5px;
}

.ui .json-body-entry {
  display: block;
  margin: 10px auto 10px auto;
  background-color: black;
  color: white;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
  border: none;
  border-radius: 0.3em;
  padding: 10px;
  font-family: monospace;
  min-height: 200px;
}

.ui .xml-body-entry {
  display: block;
  background-color: black;
  color: white;
  width: 100%;
  margin: 10px auto 10px auto;
  resize: vertical;
  box-sizing: border-box;
  border: none;
  border-radius: 0.3em;
  padding: 10px;
  font-family: monospace;
  min-height: 200px;
}

.ui .text-body-entry-container {
  padding-left: 5px;
  padding-right: 5px;
}

.ui .text-body-entry {
  display: block;
  background-color: black;
  color: white;
  width: 100%;
  margin: 10px auto 10px auto;
  resize: vertical;
  box-sizing: border-box;
  border: none;
  border-radius: 0.3em;
  padding: 10px;
  font-family: monospace;
  min-height: 200px;
}

.ui form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ui .form-data-entry {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.ui .form-data-entry span {
  color: white;
  background-color: black;
  border-radius: 0.3em;
  text-align: center;
  padding: 5px;
  width: 200px;
  overflow: hidden;
  display: block;
  margin: auto 10px auto 0;
}

.ui .form-data-entry input {
  padding: 5px;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  border: 1px solid white;
  border-radius: 0.3em;
  background-color: rgb(51, 51, 51);
  margin: auto 10px auto 0;
  color: white;
}

.ui .form-data-entry button {
  background-color: rgba(255, 0, 0, 0.342);
  color: white;
  border-radius: 0.3em;
  margin: auto;
  border: none;
  padding: 5px 10px 5px 10px;
}

.ui .form-data-entry button:hover {
  background-color: rgba(255, 0, 0, 0.658);
}

.ui .add-form-entry {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-top: 10px;
  background-color: rgb(51, 51, 51);
  padding: 10px;
}

.ui .add-form-entry input {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  border: 1px solid white;
  border-radius: 0.3em;
  background-color: rgb(51, 51, 51);
  margin: auto 10px auto 0;
  color: white;
  width: 200px;
  padding: 5px;
}

.ui .add-form-entry button {
  background-color: rgb(51, 51, 51);
  border-radius: 0.3em;
  border: 1px solid white;
  padding: 5px;
  color: white;
}

.ui .add-form-entry button:hover {
  background-color: rgb(78, 78, 78);
}

@media screen and (max-width: 490px) {
  .ui .form-data-entry span {
    width: 100px;
  }

  .ui .form-data-entry input {
    width: 100px;
  }
}

.request-results {
  width: 100%;
  max-width: 600px;
  border: 1px solid white;
  border-radius: 0.3em;
  padding: 10px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: white;
  box-sizing: border-box;
}

.request-results p {
  background-color: black;
  color: white;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 0.3em;
  padding: 10px;
  font-family: monospace;
  overflow-x: scroll;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: white; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
}

.request-results a {
  color: cyan;
}

.request-error-panel {
  background-color: rgb(70, 0, 0);
  color: rgb(255, 0, 0);
  text-align: center;
  border-radius: 0.3em;
  padding-bottom: 10px;
}